
*.properties

import/creds.php

.DS_Store

*.scssc

assets/cache/events.html

assets/cache/projects.html

assets/cache/blog.html

config/creds.php

assets/cache/presos.html

*.sql

assets/cache/sitemap.html
