@import 'all';
@import '2013-fonts';


$main-highlight-color: #D3490F;

$color-design: #1A72AF;
$color-code: #dcf7dd;
$color-blog: #FF6600;
$color-events: #85B5FF;

$color-text: #200000;
$color-toolbar-background: #130000;
$color-white: #FFF;



*{
	@include box-sizing(border-box);
}

.wf-loading  {
  visibility: hidden;
}

body{
	margin: 0;
	padding: 0;
	color: $color-text;
}



a{
	color: $main-highlight-color;	
	text-decoration: none;
}
a:hover{
	color: $main-highlight-color;
	text-decoration: underline;
}

.centered{
	margin: 0 auto;
	padding: 0 10px; 
}

header{
	.short{
		display: none;
	}
}

.main{
	h1,h2{
		a{
			color: #333;
		}
	}

	@extend .centered;
	.column{
		width: 25%;
		display: block;
		float: left;
		padding: 0 15px;

		&:first-of-type{
			padding-left: 0;
		}
		&:last-of-type{
			padding-right: 0;
		}	
	}

	&:after{
		clear: both;
		display: table;
		content: "";
	}
}

header, footer, .tweet, .page-title, .top-bar nav{
	@extend .centered;
}

.top-bar{

	padding: .5rem 0 .5rem 0;
	background-color: $color-toolbar-background;
	color: #bbb;

	h1{
		color: #FFF;
	}

	strong{
		color: #FFF;
	}

	.icon{
		color: #00ABF0;
		margin-top: .2rem;
		margin-right: .5rem;
		margin-bottom: .5rem;
		display: inline-block;
		font-size: 2.5rem;
		height: 1.8rem;
		width: 1.8rem;
		border-radius: 2rem;
		background-color: #eee;
		line-height: .7;
		text-align: center;
	}
	.content{
		margin: 0;
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 3.5rem);
	}
	
	strong{
		a{
			color: #FFF;
		}
	}
	a{
		color: #c4bbbb;
	}

	.page-title{
		h1{
			width: 49%;
			display: inline-block;
			margin: .4rem 0 0 0;
		}
		.tweet{
			width: 70%;
			display: inline-block;
			margin: 0 0;
		}

		
	}


	nav{
            padding-left: 0;
            font-size: 2rem;
            margin-bottom: .4rem;
			vertical-align: top;
			margin-top: 8px;
			text-align: left;
			display: inline-block;
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
				li{
					display: inline-block;
					border-right: 1px solid #fff;;
					padding-right: 10px;
					padding-left: 1px;
					a{
						&:hover{
							color: $main-highlight-color;
						}
					}
				}
				li:last-of-type{
					border-right: 0;
				}
			}
            a{
                text-decoration: none;
            }
            .active{
                color: #766;
            }


		}


}



@mixin column-css($name, $base-color, $icon-color) {
    .main .column.#{$name} h2  a{
        color: darken($base-color, 20%);
    
        .icon{
            background-color: darken($base-color, 15%);
            color: $icon-color;	
        }
    }
    .main .column.#{$name} .externalref a{
        color: darken($base-color, 20%);
    }
    
    .main .column.#{$name} h1 a:hover{
        color: darken($base-color, 10%);
    }
}



@include column-css("design", $color-design, $color-white);
@include column-css("code", $color-code, $color-text);
@include column-css("blog", $color-blog, $color-white);
@include column-css("events", $color-events, $color-white);


.main .column.blog h2 a{
	color: darken($color-blog, 5%);
	.icon{
		background-color: $color-blog;
	}
}

.main .column.design .externalref a{
	color: lighten($color-design, 10%);
}



.main.home .column h2{
	margin-top: .5rem;
}

.main{
	overflow: auto;
	margin-top: .5rem;
	.secondary{
		img{
			border-radius: 0;
			border: 0;
		}
	}

	.column{
		vertical-align: top;


		article{
			border-bottom: 2px dotted #ccc;
			
		}

		h2{
			margin-top: .5rem;
			color: #000;
			vertical-align: bottom;
			.icon{
				font-size: 2.8rem;
				margin-left: .5rem;
				line-height: .8;
				text-align: center;
				font-weight: normal;
				border: 1px solid #ccc;
				height: 2.3rem;
				width: 2.3rem;
				border-radius: 2rem;
				display: inline-block;
				background-color: #dedede;
			}
			a{
				color: #000;
			}
		}
		
		
		
		.externalref {
            margin: 0;
			text-align: right;
		}
	}

    .design{
         article{
             img{
                  margin-top: .5rem;   
            }    
        }    
    } 
    .blog{
         article{
             img{
                  margin-top: .5rem;   
            }    
        }    
    } 

	article{
		
		

		margin-bottom: 1.5rem;
        &:last-of-type{
            margin-bottom:.3rem;
        }
		h1{
			font-size: 1.2rem;
			margin: .5rem 0;	
		}
		time{
			margin: 0;
			font-style: italic;
		}
		address{
			margin: .5rem 0;
			font-style: normal;
		}
		div{
			margin: 0;
		}
		p{
			font-size: 1.1rem;
			margin: .5rem 0 1rem 0;	
		}
		img{
			//border: 2px solid #ccc;
			//border-radius: 4000px;
			max-height: 250px;
			max-width: 250px;
			display: block;
			margin: 0 auto;
            -webkit-shape-outside: circle(50%, 50%, 55%);
           
		}
		.flag{
			margin-left: 5px;
			display: inline;
			border: 1px solid #ccc;
			width: 30px;
			border-radius: 0;
			vertical-align: bottom;
			
		}
		.picture{
			width: 300px;
			height: 300px;
			max-height: none;
			max-width: none;
		}

		.portrait{
			border: 1px solid #ccc;
		}

		.logo{
			border-radius: 0;
			width: 300px;
			height: auto;
			border: none;
			margin: 0 0 0 2rem;
		}
	}

}

   

.main.thanks {
	article{
		h1{
			font-size: 2.5rem;
		}
		time{
			font-size: 1.5rem;
		}
	}
}

footer{
	padding-bottom: 1rem;
    strong{
        color: $main-highlight-color;
    }    

}

blockquote{
	font-style: italic;
	background-color: #DDD;
	padding: 2px 5px;
	border-radius: 4px;
	border: 1px dotted lighten($main-highlight-color,30%);
	overflow: auto;
	margin: 0 2rem;
}

#socialnetworks {
    
    li{
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        margin: 10px 20px;
        width: 160px;
        text-align:center;
    }    
    
	img{
		border-radius: 0;
		border: none;
	}
}

.alert{
	background-color: #FFFFCC;
	color: #FF0000;
	font-weight: bold;
	
}

.delay{
	-moz-transition-property: background-color, color;
	-moz-transition-duration: 2s, 2s;
	-moz-transition-delay: 0s, 0s;
	-o-transition-property: background-color, color;
	-o-transition-duration: 2s, 2s;
	-o-transition-delay: 0s, 0s;
	-webkit-transition-property: background-color, color;
	-webkit-transition-duration: 2s, 2s;
	-webkit-transition-delay: 0s, 0s;
	transition-property: background-color, color;
	transition-duration: 2s, 2s;
	transition-delay: 0s, 0s;
}

.alertclear{
	background-color: #FFFFFF;
	color: #000000;
}

input{
	width: 100%;
	font-size: 1.5rem;
}
textarea{
	width: 100%;
	font-size: 1.5rem;
}

.error404 article p{
	font-size: 1.5rem;
}

.book{
	img{
		float: right;
	}
}

.resume {
	h2{
		padding: 25px 0 10px 25%;
		margin-left: 2px;
		margin-bottom: 0;
	}
	.toplevel{
		margin-left: 25%;
	}

	.skills{
		th{
			color: $main-highlight-color;
			text-align: left;
		}
		td{
			width: 25%
		}
		ul{
			margin: 0 0 0 20px;
			padding: 0;
		}
	}
	.socialnetworks{
		width: 60%;
		td{
			width: 33%;
		}
	}	 
}

.position{
	&:after{
		content: "";
		display: table;
		clear: both;
	}
	header{
		display: inline-block;
		vertical-align: top;
		width: 25%;
		max-width: 300px;
		padding: 0 20px 0 0;
		margin: 0;
		h4{
			padding: 3px 0 0 0;
			margin: 0;
			color: $main-highlight-color;
			font-style: italic;
		}
		time{
			display: block;
			margin-top: 10px;
		}
	}
	.details{
		display: inline-block;
		vertical-align: top;
		width: 73%;
		h3{
			padding: 0;
			margin: 0;
			color: $main-highlight-color;
		}
	}
}


@import '2013-tablet';
@import '2013-desktop';
@import '2013-phone';
