body {
  font-family: "museo-sans", "Museo Sans", "Helvetica"; }

header h1 {
  font-family: "museo-slab", "Museo Slab", "Georgia";
  font-weight: 100; }
  header h1 strong {
    font-weight: 700; }

footer {
  font-family: "museo-slab", "Museo Slab", "Georgia";
  font-weight: 100; }

@font-face {
  font-family: "entypo";
  src: url("fonts/entypo.eot");
  src: url("fonts/entypo.eot?#iefix") format("embedded-opentype"), url("fonts/entypo.woff") format("woff"), url("fonts/entypo.ttf") format("truetype"), url("fonts/entypo.svg#$name") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "entypo-social";
  src: url("fonts/entypo-social.eot");
  src: url("fonts/entypo-social.eot?#iefix") format("embedded-opentype"), url("fonts/entypo-social.woff") format("woff"), url("fonts/entypo-social.ttf") format("truetype"), url("fonts/entypo-social.svg#$name") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: entypo-social, entypo; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wf-loading {
  visibility: hidden; }

body {
  margin: 0;
  padding: 0;
  color: #000; }

a {
  color: red;
  text-decoration: none; }

a:hover {
  color: red;
  text-decoration: underline; }

.centered, .main, header, footer, .tweet, .page-title, .top-bar nav {
  margin: 0 auto;
  padding: 0 10px; }

header .short {
  display: none; }

.main h1 a, .main h2 a {
  color: #333; }
.main .column {
  width: 25%;
  display: block;
  float: left;
  padding: 0 15px; }
  .main .column:first-of-type {
    padding-left: 0; }
  .main .column:last-of-type {
    padding-right: 0; }
.main:after {
  clear: both;
  display: table;
  content: ""; }

.top-bar {
  padding: .5rem 0 .5rem 0;
  background-color: #000;
  color: #bbb; }
  .top-bar h1 {
    color: #FFF; }
  .top-bar strong {
    color: #FFF; }
  .top-bar .icon {
    color: #00ABF0;
    margin-top: .2rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    display: inline-block;
    font-size: 2.5rem;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 2rem;
    background-color: #eee;
    line-height: .7;
    text-align: center; }
  .top-bar .content {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 3.5rem); }
  .top-bar strong a {
    color: #FFF; }
  .top-bar a {
    color: #bbb; }
  .top-bar .page-title h1 {
    width: 49%;
    display: inline-block;
    margin: 0 0; }
  .top-bar .page-title .tweet {
    width: 70%;
    display: inline-block;
    margin: 0 0; }
  .top-bar nav {
    vertical-align: top;
    margin-top: 8px;
    text-align: right;
    width: 49%;
    display: inline-block; }
    .top-bar nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .top-bar nav ul li {
        display: inline-block;
        border-right: 1px solid #fff;
        padding-right: 5px;
        padding-left: 1px; }
        .top-bar nav ul li a:hover {
          color: red; }
      .top-bar nav ul li:last-of-type {
        border-right: 0; }
  .top-bar .home nav {
    width: 29%; }

.main .column.code h2 a {
  color: #89e48c; }
  .main .column.code h2 a .icon {
    background-color: #9ee9a1;
    color: #000; }

.main .column.code .externalref a {
  color: #89e48c; }

.main .column.code h1 a:hover {
  color: #b2eeb5; }

.main .column.blog h2 a {
  color: #e65c00; }
  .main .column.blog h2 a .icon {
    background-color: #ff6600;
    color: #FFF; }

.main .column.blog .externalref a {
  color: #cc5200; }

.main .column.blog h1 a:hover {
  color: #cc5200; }

.main .column.design h2 a {
  color: #176499; }
  .main .column.design h2 a .icon {
    background-color: #1a72af;
    color: #FFF; }

.main .column.design .externalref a {
  color: #218fdb; }

.main .column.design h1 a:hover {
  color: #135583; }

.main .column.events h2 a {
  color: #6ca6ff; }
  .main .column.events h2 a .icon {
    background-color: #85b5ff;
    color: #FFF; }

.main .column.events .externalref a {
  color: #5296ff; }

.main .column.events h1 a:hover {
  color: #5296ff; }

.main.home .column h2 {
  margin-top: .5rem; }

.main {
  overflow: auto;
  margin-top: .5rem; }
  .main .secondary img {
    border-radius: 0;
    border: 0; }
  .main .column {
    vertical-align: top; }
    .main .column article {
      border-bottom: 2px dotted #ccc; }
    .main .column h2 {
      margin-top: .5rem;
      color: #000;
      vertical-align: bottom; }
      .main .column h2 .icon {
        font-size: 3rem;
        margin-left: .5rem;
        line-height: .8;
        text-align: center;
        font-weight: normal;
        border: 1px solid #ccc;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 2rem;
        display: inline-block;
        background-color: #dedede; }
      .main .column h2 a {
        color: #000; }
    .main .column .externalref {
      text-align: right; }
  .main article {
    margin-bottom: 2rem; }
    .main article h1 {
      font-size: 1.2rem;
      margin: .5rem 0; }
    .main article time {
      margin: 0;
      font-style: italic; }
    .main article address {
      margin: .5rem 0;
      font-style: normal; }
    .main article div {
      margin: 0; }
    .main article p {
      font-size: 1.1rem;
      margin: .5rem 0 1rem 0; }
    .main article img {
      margin-top: .5rem;
      border: 2px solid #ccc;
      border-radius: 4000px;
      max-height: 250px;
      max-width: 250px;
      display: block;
      margin: 0 auto; }
    .main article .flag {
      margin-left: 5px;
      display: inline;
      border: 1px solid #ccc;
      width: 30px;
      border-radius: 0;
      vertical-align: bottom; }
    .main article .picture {
      width: 300px;
      height: 300px;
      max-height: none;
      max-width: none; }
    .main article .logo {
      border-radius: 0;
      width: 300px;
      height: auto;
      border: none;
      margin: 0 0 0 2rem; }

.main.thanks article h1 {
  font-size: 2.5rem; }
.main.thanks article time {
  font-size: 1.5rem; }

footer {
  padding-bottom: 1rem; }
  footer strong {
    color: red; }

blockquote {
  font-style: italic;
  background-color: #DDD;
  padding: 2px 5px;
  border-radius: 4px;
  border: 1px dotted #ff9999;
  overflow: auto;
  margin: 0 2rem; }

#socialnetworks {
  width: 100%; }
  #socialnetworks li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 20px;
    width: 160px;
    text-align: center; }
  #socialnetworks img {
    border-radius: 0;
    border: none; }

.alert {
  background-color: #FFFFCC;
  color: #FF0000;
  font-weight: bold; }

.delay {
  -moz-transition-property: background-color, color;
  -moz-transition-duration: 2s, 2s;
  -moz-transition-delay: 0s, 0s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 2s, 2s;
  -o-transition-delay: 0s, 0s;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 2s, 2s;
  -webkit-transition-delay: 0s, 0s;
  transition-property: background-color, color;
  transition-duration: 2s, 2s;
  transition-delay: 0s, 0s; }

.alertclear {
  background-color: #FFFFFF;
  color: #000000; }

input {
  width: 100%;
  font-size: 1.5rem; }

textarea {
  width: 100%;
  font-size: 1.5rem; }

.error404 article p {
  font-size: 1.5rem; }

@media screen and (max-width: 700px) {
  .centered, .main, header, footer, .tweet, .page-title, .top-bar nav {
    max-width: 700px; }

  header h1 {
    font-size: 1.4rem; }
  header .extra {
    display: none; }
  header .short {
    display: inline; }

  .main .column {
    width: 50%; }
    .main .column article img {
      max-height: 200px;
      max-width: 200px; }
    .main .column article .flag {
      width: 40px; } }
@media screen and (min-width: 500px) and (max-width: 599px) {
  .main article .picture {
    float: right;
    max-width: 100%; }

  .main article .portrait {
    float: right;
    width: 250px;
    height: 250px; } }
@media screen and (min-width: 600px) and (max-width: 699px) {
  .main article .picture {
    float: right;
    max-width: 100%; }

  .main article .portrait {
    float: right;
    width: 295px;
    height: 295px; } }
@media screen and (min-width: 700px) and (max-width: 799px) {
  .top-bar .page-title .tweet {
    width: 60%; }
  .top-bar .home nav {
    width: 39%; } }
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .centered, .main, header, footer, .tweet, .page-title, .top-bar nav {
    max-width: 800px; }

  header h1 {
    font-size: 1.5rem; }

  .main article .logo {
    float: right; }

  .main article .book {
    float: none; }

  .main .column {
    width: 33%; }
    .main .column article img {
      max-height: 200px;
      max-width: 200px; }
    .main .column article .flag {
      width: 40px; }
    .main .column article .picture {
      float: right; }
    .main .column:last-of-type {
      width: 100%; }
      .main .column:last-of-type article {
        width: 32%;
        display: inline-block;
        vertical-align: top;
        border-bottom: 0; }
  .main .half {
    width: 50%; }
  .main .full {
    padding: 0; } }
@media screen and (min-width: 1024px) {
  .centered, .main, header, footer, .tweet, .page-title, .top-bar nav {
    max-width: 1024px; }

  .main .column {
    width: 25%; }
    .main .column article img {
      max-height: 200px;
      max-width: 200px; }
  .main .half {
    width: 50%; }
    .main .half .picture {
      float: right;
      -webkit-shape-outside: circle(50%, 50%, 50%); }
  .main .full {
    width: 100%;
    padding: 0; }
    .main .full .picture {
      float: right;
      -webkit-shape-outside: circle(50%, 50%, 50%); }
    .main .full .logo {
      float: right;
      -webkit-shape-outside: 0; } }
@media screen and (min-width: 1400px) {
  .centered, .main, header, footer, .tweet, .page-title, .top-bar nav {
    max-width: 1400px; }

  .main .column article img {
    max-height: 250px;
    max-width: 250px; }
  .main .column.about {
    width: 50%; } }
@media screen and (max-width: 699px) {
  .top-bar .page-title .tweet {
    display: none; }
  .top-bar .page-title h1 {
    display: none; }
  .top-bar .page-title nav {
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    margin-bottom: .4rem; }
    .top-bar .page-title nav a {
      text-decoration: none; }
    .top-bar .page-title nav .active {
      color: #666;
      border-bottom: 4px solid red; } }
@media screen and (max-width: 650px) {
  .centered, .main, header, footer, .tweet, .page-title, .top-bar nav {
    max-width: 100%; }

  .main .column {
    width: 100%;
    padding: 0; }
    .main .column article img {
      margin-top: 1rem;
      max-height: none;
      max-width: 100%;
      border-radius: 4px; } }
@media screen and (max-width: 399px) {
  .top-bar .page-title nav {
    font-size: 1.1rem; } }
@media screen and (max-width: 299px) {
  .top-bar .page-title nav {
    font-size: 2.1rem; }
    .top-bar .page-title nav li {
      display: block;
      border-right: 0; } }
