.desktop_centered{
	width: 1000px;
	margin: 0 auto;
}

#masthead{
	@extend .desktop_centered;
}

#content > section{
	@extend .desktop_centered;
}

footer nav, footer small{
	@extend .desktop_centered;
}

hr{
	@extend .desktop_centered;
}


#home{
	header{

		hgroup{
			width: 515px;
			h1{
				font-size: 5em;
				margin-bottom: 0;
			}
			p{
				padding-top: 0;
				font-size: 2.6em;
				line-height: 1.1;
			}
		}
		nav{
			padding-top: 15px;
		}
	}	
}

#job blockquote{
	max-width: 600px;
}

#content {
	section{
		section{
			vertical-align: top;
			display: inline-block;
			width: 455px;

			&:first-child{ padding-right: 40px; margin-right: 0; };
			&:last-child{ padding-left: 40px; margin-left: 0; };
		}
	}
}