html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "adobe-caslon-pro", "Georgia", "Times New Roman", serif;
  font-weight: 400;
  background-color: #000; }

a {
  color: #F00;
  text-decoration: none;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  -ms-transition: color 0.1s ease-in;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in; }

a:hover, a:active {
  text-decoration: underline; }

.heading, h1, h2, h3, header p, nav {
  font-family: "myriad-pro-condensed", "Gill Sans", "Helvetica Neue", sans-serif; }

h1 {
  font-weight: 600;
  font-variant: small-caps; }

h2 {
  font-weight: 600; }

h3 {
  font-weight: 600; }

hr {
  clear: both;
  padding: 0;
  border: none;
  border-top: medium double #E00;
  color: #E00;
  text-align: center;
  margin-top: 30px; }

hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
  color: #E00; }

p {
  font-weight: 400; }

address, em {
  font-style: italic; }

strong {
  font-weight: 700; }

blockquote {
  display: block;
  padding: .5em 2em .1em 2em;
  margin-bottom: 20px;
  font-style: italic;
  color: #F00;
  border-left: 3px solid #F00;
  border-top: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  background-color: #F3F3F3; }
  blockquote p {
    margin-top: 10px; }

header {
  padding: 0 10px;
  background-color: #000; }
  header h1 {
    color: #F00;
    font-size: 3em; }
    header h1 a {
      color: #F00;
      text-decoration: none; }
  header p {
    color: #FFF;
    font-size: 1.7em;
    line-height: 1.2;
    padding: 10px 0; }
  header img {
    border: 1px solid #F00; }
  header hgroup {
    display: inline-block;
    padding-right: 20px; }
  header nav {
    display: inline-block;
    vertical-align: top; }

#home header nav {
  padding-top: 10px; }
  #home header nav img {
    display: block;
    height: 161px;
    width: 112px; }
  #home header nav li {
    display: inline-block;
    padding-right: 0; }
    #home header nav li a {
      position: relative; }
      #home header nav li a:hover {
        color: #FFFFFF; }
      #home header nav li a span {
        text-shadow: #333 2px 2px 2px;
        z-index: 9999;
        background-color: rgba(100, 100, 100, 0.5);
        position: absolute;
        padding: 5px 0;
        left: 0;
        bottom: 0;
        width: 112px;
        text-align: center;
        border: 1px solid #FF0000;
        display: inline-block; }

nav {
  font-weight: 700;
  font-size: 2em; }
  nav ul {
    padding: 10px 0; }
  nav a:link {
    color: #FF0000;
    text-decoration: none; }
  nav a:visited {
    color: #FF0000;
    text-decoration: none; }
  nav a:hover {
    color: #555555;
    text-decoration: underline; }
  nav a:active {
    color: #FF0000;
    text-decoration: underline; }
  nav img {
    display: none; }

#content {
  padding: 15px 10px 0 10px;
  background-color: #FFF; }
  #content section {
    margin-bottom: 20px; }
    #content section h1 {
      font-size: 2.5em;
      font-variant: normal; }
      #content section h1 a {
        color: #000;
        text-decoration: none; }
    #content section h2 {
      font-size: 2.2em;
      color: #444444; }
    #content section h3 {
      font-size: 1.5em;
      color: #999999; }
    #content section p {
      font-size: 1.3em; }
    #content section article {
      margin-bottom: 5px;
      line-height: 1.5; }
      #content section article h1 {
        color: #F00; }
        #content section article h1 a:link {
          color: #FF0000;
          text-decoration: none; }
        #content section article h1 a:visited {
          color: #FF0000;
          text-decoration: none; }
        #content section article h1 a:hover {
          color: #555555;
          text-decoration: underline; }
        #content section article h1 a:active {
          color: #FF0000;
          text-decoration: underline; }
      #content section article p {
        line-height: 1.6;
        padding-bottom: 20px; }

footer {
  padding: 0 10px 20px 10px;
  background-color: #000; }
  footer p {
    color: #FFF; }
  footer nav {
    padding-top: 10px; }
  footer small {
    padding-top: 15px;
    color: #FFF;
    display: block; }
  footer #copyright {
    color: #F00;
    font-family: "myriad-pro-condensed", "Gill Sans", "Helvetica Neue", sans-serif; }

#home time {
  color: #999; }
#home section article h1 {
  font-size: 2em; }

.image, .picture {
  float: right;
  margin: 10px  10px 10px; }

.picture {
  border: 1px solid #FF0000; }

#job blockquote {
  max-width: 300px; }

form label {
  font-weight: 700; }
form .textcontrol, form input, form textarea, form .submit {
  width: 400px;
  margin-bottom: 20px;
  font-size: 2em; }
form input {
  height: 1.2em;
  width: 100%; }
form textarea {
  width: 100%; }
form .submit {
  border: 1px solid #CCC;
  font-size: 2.2em;
  color: #FF0000;
  background-color: #FFFFFF;
  border-radius: 8px; }
form .submit:hover {
  border: 1px solid #FF0000;
  background-color: #000000; }

td {
  vertical-align: middle;
  padding-top: 10px;
  padding-right: 30px; }

td img.twitter {
  margin-left: -5px; }

@media screen and (max-width: 550px) {
  .hidesmall {
    display: none; }

  #home header nav {
    padding-top: 0;
    display: block; }
    #home header nav img {
      display: none; }
    #home header nav ul {
      padding-top: 0; }
      #home header nav ul li a span {
        text-align: left;
        position: static;
        border: none;
        background-color: transparent;
        text-shadow: none; }

  #content h1 {
    line-height: 1;
    padding-bottom: 10px; }
  #content img {
    max-width: 100%; } }
@media screen and (min-width: 768px) {
  .table_centered, #masthead, #content > section, footer nav, footer small, hr {
    width: 760px;
    margin: 0 auto; }

  header {
    padding-bottom: .7em; }
    header hgroup {
      display: inline-block; }
      header hgroup h1 {
        font-size: 3.5em;
        display: inline-block;
        vertical-align: top;
        margin-right: .8em; }
      header hgroup p {
        font-size: 1.3em;
        padding-top: .3em;
        margin-right: .8em;
        display: inline-block; }
    header nav {
      display: inline-block; }

  #home header hgroup {
    display: inline-block;
    width: 400px;
    vertical-align: top; }
    #home header hgroup h1 {
      display: block;
      font-size: 4em;
      margin-bottom: 20px; }
    #home header hgroup p {
      display: block;
      font-size: 2.3em;
      line-height: 1.1; }
  #home header nav {
    padding-top: 10px; }
    #home header nav img {
      display: block;
      height: 230px;
      width: 160px; }
    #home header nav li {
      display: inline-block;
      padding-right: 0; }
      #home header nav li a {
        position: relative; }
        #home header nav li a:hover {
          color: #FFFFFF; }
        #home header nav li a span {
          text-shadow: #333 2px 2px 2px;
          z-index: 9999;
          background-color: rgba(100, 100, 100, 0.5);
          position: absolute;
          padding: 5px 0;
          left: 0;
          bottom: 0;
          width: 160px;
          text-align: center;
          border: 1px solid #FF0000;
          display: inline-block; }

  #job blockquote {
    max-width: 390px; }

  #content p, #content address, #content time {
    font-size: 1.3em; }
  #content section h1 {
    font-size: 3em; }
  #content section h2 {
    font-size: 2.2em; }
  #content section h3 {
    font-size: 1.5em; }
  #content section hr {
    display: none; }
  #content section section {
    vertical-align: top;
    display: inline-block;
    width: 335px; }
    #content section section:first-child {
      padding-right: 40px;
      margin-right: 0; }
    #content section section:last-child {
      padding-left: 40px;
      margin-left: 0; }

  .externalref {
    text-align: right; }

  footer nav li {
    display: inline-block;
    padding-right: 20px; } }
@media screen and (min-width: 1000px) {
  .desktop_centered, #masthead, #content > section, footer nav, footer small, hr {
    width: 1000px;
    margin: 0 auto; }

  #home header hgroup {
    width: 515px; }
    #home header hgroup h1 {
      font-size: 5em;
      margin-bottom: 0; }
    #home header hgroup p {
      padding-top: 0;
      font-size: 2.6em;
      line-height: 1.1; }
  #home header nav {
    padding-top: 15px; }

  #job blockquote {
    max-width: 600px; }

  #content section section {
    vertical-align: top;
    display: inline-block;
    width: 455px; }
    #content section section:first-child {
      padding-right: 40px;
      margin-right: 0; }
    #content section section:last-child {
      padding-left: 40px;
      margin-left: 0; } }
