@import 'all';
@import 'meyer-reset';

$serif: "adobe-caslon-pro", "Georgia","Times New Roman", serif;
$sans: "myriad-pro-condensed","Gill Sans", "Helvetica Neue",  sans-serif;


body{
	font-family: $serif;
	font-weight: 400;
	background-color: #000;
}



a{
	color: #F00;
	@include transition(color .1s ease-in);
}	

.heading {
	font-family: $sans;
}

h1{
	@extend .heading;
	font-weight: 600;
	font-variant: small-caps;
}

h2{
	@extend .heading;
	font-weight: 600;
}

h3{
	@extend .heading;
	font-weight: 600;
}

hr{
	clear: both;
    padding: 0;
    border: none;
    border-top: medium double #E00;
    color: #E00;
    text-align: center;
    margin-top: 30px;
}

hr:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
    color: #E00;
}

p{
	font-weight: 400;
}

address, em{
	font-style: italic;
}

strong{
	font-weight: 700;
}

blockquote {
  display: block;
  padding: .5em 2em .1em 2em;
  margin-bottom: 20px;
  font-style: italic;
  color: #F00;
  border-left: 3px solid #F00;
  border-top: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  background-color: #F3F3F3; 
  p {
    margin-top: 10px; }
}    


header{
	padding: 0 10px;
	background-color: #000;

	h1{
		color: #F00;
		font-size: 3em;
		a{
			color: #F00;
			text-decoration: none;
		}
	}

	p{
		@extend .heading;
		color: #FFF;
		font-size: 1.7em;
		line-height: 1.2;
		padding: 10px 0;
	}
	img{
		border: 1px solid #F00;
	}
	hgroup{
		display: inline-block;
		padding-right: 20px;
	}

	nav{
		display: inline-block;
		vertical-align: top;
	}
}

#home{
	header{


		nav{
			img{
				display: block;
				height: 161px;
				width: 112px;
			}
			padding-top: 10px;
			li{
				display: inline-block;
				padding-right: 0;
				a{
					&:hover{
						color: #FFFFFF;
					}

					position: relative;
					span{

						text-shadow: #333 2px 2px 2px;
						z-index: 9999;
						background-color: rgba(100,100,100, .5);
						position:absolute;
						padding: 5px 0;
						left: 0;
						bottom: 0;
						width: 112px;
						text-align: center;
						border: 1px solid #FF0000;
						display: inline-block;
					}
				}
			}
		}
	}			
}


nav{
	@extend .heading;
	font-weight: 700;
	font-size: 2em;
	ul{
		padding: 10px 0;
	}
	
	a{
		&:link{color: #FF0000; text-decoration: none;}
		&:visited{color: #FF0000; text-decoration: none;}
		&:hover{color: #555555;text-decoration:underline;}
		&:active{color: #FF0000;text-decoration:underline;}
	}

	img{
		display: none;
	}
}

#content{
	padding: 15px 10px 0 10px;
	background-color: #FFF;



	section{

		h1{
			font-size: 2.5em;
			font-variant: normal;
			a{
				color: #000;
				text-decoration: none;
			}
		}
		h2{
			font-size: 2.2em;
			color: #444444;
		}
		h3{
			font-size: 1.5em;
			color: #999999;
		}
		p{
			font-size: 1.3em;
		}


		margin-bottom: 20px;
		

		article{
			margin-bottom: 5px;
			line-height: 1.5;
			h1{
				
				color: #F00;
				a{
					
					&:link{color: #FF0000; text-decoration: none;}
					&:visited{color: #FF0000; text-decoration: none;}
					&:hover{color: #555555;text-decoration:underline;}
					&:active{color: #FF0000;text-decoration:underline;}
				}
				
			}
			p{
				line-height: 1.6;
				padding-bottom: 20px;
			}
		}
	}
}

footer{
	padding: 0 10px 20px 10px;
	background-color: #000;
	p{
		color: #FFF;
	}

	nav{
		padding-top: 10px;
	}
	small{
		padding-top: 15px;
		color: #FFF;
		display: block;
	}
	#copyright{
		color: #F00;
		font-family: $sans;
	}


}

#home{
	time{
		color: #999;
	}
	section{
		article{
			h1{
				font-size: 2em;
			}
		}
	}
}

.image{
	float: right;
	margin: 10px  10px 10px;
}

.picture{
	border: 1px solid #FF0000;
	@extend .image;
}

#job blockquote{
	max-width: 300px;
}

form{
	label{
		font-weight: 700;
	}

	.textcontrol {
		width: 400px;
		margin-bottom: 20px;
		font-size: 2em;
	}
	input{
		height: 1.2em;
		width: 100%;
		@extend .textcontrol;
	}
	textarea{
		@extend .textcontrol;
		width: 100%;

	}

	.submit{
		border: 1px solid #CCC;
		font-size: 2.2em;
		@extend .textcontrol;
		color: #FF0000;
		background-color: #FFFFFF;
		border-radius: 8px;
	}
	.submit:hover{
		border: 1px solid #FF0000;
		background-color: #000000;
	}
}

td{
	vertical-align: middle;
	padding-top: 10px;
	padding-right: 30px;
}
td img.twitter{
	margin-left: -5px;
}


@media screen and (max-width: 550px) {
	@import 'phone';
}



@media screen and (min-width: 768px) {
	@import 'tablet';
} 

@media screen and (min-width: 1000px) {
	@import 'desktop'
} 