@import 'all';
@import '2013-fonts';


$main-highlight-color: #000;

*{
	@include box-sizing(border-box);
}



body{
	margin: 0;
	padding: 0;
}

a{
	color: $main-highlight-color;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

.centered{
	margin: 0 auto;
	padding: 0 10px; 
}

.main{
	@extend .centered;
	.column{
		width: 25%;
		display: block;
		float: left;
		padding: 0 15px;	
	}
	&:after{
		clear: both;
		display: table;
		content: "";
	}
}

header, footer, .tweet{
	@extend .centered;
}

.tweet-bar{
	background-color: #444;
	color: #fff;

	.icon{
		display: inline-block;
		font-size: 4rem;
	}
	.content{
		display: inline-block;
		vertical-align: top;
		width: 90%;
	}

}

.main{
	
	.column{
		vertical-align: top;

		h2{
			vertical-align: bottom;
			.icon{
				font-size: 3rem;
				margin-left: .5rem;
				line-height: .8;
				text-align: center;
				font-weight: normal;
				border: 1px solid #ccc;
				height: 2.5rem;
				width: 2.5rem;
				border-radius: 2rem;
				display: inline-block;
				background-color: #dedede;
			}
		}
		article{
			margin-bottom: 2rem;
			h1{
				font-size: 1.2rem;
				margin: .5rem 0;	
			}
			time{
				margin: 0;
				font-style: italic;
			}
			address{
				margin: .5rem 0;
				font-style: normal;

			}
			div{
				margin: 0;
			}
			p{
				font-size: 1.1rem;
				margin: .5rem 0 1rem 0;	
			}
			img{
				margin-top: .5rem;
				border: 2px solid $main-highlight-color;
				border-radius: 4000px;
				max-height: 200px;
				max-width: 200px;
				-webkit-filter: grayscale(100%);
				display: block;
				margin: 0 auto;;
			}
		}
		
	}
}



@import '2013-desktop';