@import 'all';
@import '2013-fonts';


$main-highlight-color: #F00;

*{
	@include box-sizing(border-box);
}



body{
	margin: 0;
	padding: 0;
	color: #000;
}

strong, em{
	color: $main-highlight-color;
}

a{
	color: $main-highlight-color;	
	text-decoration: none;
}
a:hover{
	color: $main-highlight-color;
	text-decoration: underline;
}

.centered{
	margin: 0 auto;
	padding: 0 10px; 
}

header{
	.short{
		display: none;
	}
}

.main{
	a{
		color: #333;
	}
	@extend .centered;
	.column{
		width: 25%;
		display: block;
		float: left;
		padding: 0 15px;

		&:first-of-type{
			padding-left: 0;
		}
		&:last-of-type{
			padding-right: 0;
		}	
	}

	&:after{
		clear: both;
		display: table;
		content: "";
	}
}

header, footer, .tweet, .page-title{
	@extend .centered;
}

.top-bar{


	background-color: #000;
	color: #bbb;

	h1{
		color: #FFF;
	}

	strong{
		color: #FFF;
	}

	.icon{
		color: #00ABF0;
		margin-top: .8rem;
		margin-right: .5rem;
		margin-bottom: .8rem;
		display: inline-block;
		font-size: 4rem;
		height: 2.5rem;
		width: 2.5rem;
		border-radius: 2rem;
		background-color: #eee;
		line-height: .7;
		text-align: center;
	}
	.content{
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 3.5rem);
	}
	.tweet{
		margin: 0 auto;
	}
	strong{
		a{
		color: #FFF;
		}
	}
	a{
		color: #bbb;
	}

}

$color-code: #dcf7dd;
.main .column.code h2  a{
	color: darken($color-code, 10%);
	.icon{
		background-color: $color-code;
		color: #000;	
	}
}
.main .column.code .externalref a{
	color: darken($color-code, 10%);
}

.main .column.code h1 a:hover{
	color: darken($color-code, 10%);
}

$color-blog: #FF6600;
.main .column.blog h2 a{
	color: darken($color-blog, 5%);
	.icon{
		background-color: $color-blog;
		color: #FFF;	
	}
}

.main .column.blog .externalref a{
	color: darken($color-blog, 10%);
}

.main .column.blog h1 a:hover{
	color: darken($color-blog, 10%);
}

$color-design: #1A72AF;
.main .column.design h2 a{
	color: darken($color-design, 5%);
	.icon{
		background-color: $color-design;
		color: #FFF;	
	}
}

.main .column.design .externalref a{
	color: darken($color-design, 10%);
}
.main .column.design h1 a:hover{
	color: darken($color-design, 10%);
}

$color-events: #85B5FF;
.main .column.events h2 a{
	color: darken($color-events, 5%);
	.icon{
		background-color: $color-events;
		color: #FFF;	
	}
}

.main .column.events .externalref a{
	color: darken($color-events, 10%);
}

.main .column.events h1 a:hover{
	color: darken($color-events, 10%);
}


.main{
	
	.contact{
		img{
			border-radius: 0;
			border: 0;
		}
	}

	.column{
		vertical-align: top;

		h2{
			color: #000;
			vertical-align: bottom;
			.icon{
				font-size: 3rem;
				margin-left: .5rem;
				line-height: .8;
				text-align: center;
				font-weight: normal;
				border: 1px solid #ccc;
				height: 2.5rem;
				width: 2.5rem;
				border-radius: 2rem;
				display: inline-block;
				background-color: #dedede;
			}
			a{
				color: #000;
			}
		}
		
		
		.externalref {
			text-align: right;
		}
	}
	article{
		margin-bottom: 2rem;
		h1{
			font-size: 1.2rem;
			margin: .5rem 0;	
		}
		time{
			margin: 0;
			font-style: italic;
		}
		address{
			margin: .5rem 0;
			font-style: normal;
		}
		div{
			margin: 0;
		}
		p{
			font-size: 1.1rem;
			margin: .5rem 0 1rem 0;	
		}
		img{
			margin-top: .5rem;
			border: 2px solid #ccc;
			border-radius: 4000px;
			max-height: 250px;
			max-width: 250px;
			display: block;
			margin: 0 auto;
		}
		.flag{
			margin-left: 5px;
			display: inline;
			border: 1px solid #ccc;
			width: 30px;
			border-radius: 0;
			vertical-align: bottom;
			
		}
		.picture{
			width: 300px;
			height: 300px;
			max-height: none;
			max-width: none;
		}
	}

}

footer{
	padding-bottom: 1rem;

}



@import '2013-tablet';
@import '2013-desktop';
@import '2013-phone';
