@media screen and (min-width: 1024px) {
	body{
		
	}

	.centered{
		max-width: 1024px;
	}


	.main{
	
		.column{
			width: 25%;
			article{
				img{
					max-height: 200px;
					max-width: 200px;
				}
			}
		}
		.bio{
			width: 50%;
			.picture{
				float: right;
				-webkit-shape-outside: circle(50%, 50%, 50%);

			}
		}
	}




}

@media screen and (min-width: 1400px) {
	body{
		
	}

	.centered{
		max-width: 1400px;
	}

	.main{
	
		.column{
			article{
				img{
					max-height: 250px;
					max-width: 250px;
				}
			}
		}
		.column.about{
			width: 50%;
		}
	}



}		