
@media screen and (max-width: 700px) {
	body{
		
	}

	.centered{
		max-width: 700px;
	}

	header{
		h1{
			font-size: 1.4rem;
		}
		.extra{
			display: none;
		}
		.short{
			display: inline;
		}
	}

	.main{
	
		.column{
			width: 50%;
			article{

				img{
					
					max-height: 200px;
					max-width: 200px;
				}
				.flag{
					width: 40px;
				}
			}
		}
	}

}

@media screen and (min-width: 500px) and (max-width: 599px) {
	.main article .picture{
		float: right;
		max-width: 100%;
	}

	.main article .portrait{
		float: right;
		width: 250px;
		height: 250px;
	}

}
@media screen and (min-width: 600px) and (max-width: 699px) {
	.main article .picture{
		float: right;
		max-width: 100%;
	}

	.main article .portrait{
		float: right;
		width: 295px;
		height: 295px;
	}

}

@media screen and (min-width: 700px) and (max-width: 799px) {
	.top-bar{
		.page-title .tweet{
			width: 60%;
		}

	}	
}		

@media screen and (min-width: 500px) and (max-width: 1024px) {
	body{
		
	}

	.centered{
		max-width: 800px;
	}

	header{
		h1{
			font-size: 1.5rem;
		}
	}

	.main article .logo{
		float: right;
	}

	.main article .book{
		float: none;
	}

	.main{
		
		
		.column{
			width: 33%;
			article{

				img{
					max-height: 200px;
					max-width: 200px;
				}
				.flag{
					width: 40px;
				}
				.picture{
					float: right;
				}
			}
			&:last-of-type{
				width: 100%;
				article{
					width: 32%;
					display: inline-block;
					vertical-align: top;
					border-bottom: 0;
				}
			}
		}
		.half{
			width: 50%;
		}
		.full{
			padding: 0;
		}
		
	}

}
