
@media screen and (min-width: 768px) {

	.desktop_centered{
		width: 1000px;
		margin: 0 auto;
	}

	#masthead{
		@extend .desktop_centered;
		position: relative;
	}

	#content > section{
		@extend .desktop_centered;
	}

	footer nav, footer small{
		@extend .desktop_centered;
	}

	hr{
		@extend .desktop_centered;
	}

	header{
		hgroup{
			h1{
				padding-right: .3em;
				font-size: 5em;
			}
		}
		nav{
			position:absolute;
			right: 0;
			padding-right: 20px;
		}
	}	

	#home{
		header{

			hgroup{
				width: 515px;
				h1{
					font-size: 5em;
					margin-bottom: 0;

				}
				p{
					padding-top: 0;
					font-size: 2.6em;
					line-height: 1.1;
				}
				h2{
					padding-top: 0;
					font-size: 2.6em;
					line-height: 1.1;
				}
			}
			nav{
				padding-top: 15px;
				position: static;
			}
		}	
	}

	#job blockquote{
		max-width: 600px;
	}

	#content {
		section{
			section{
				vertical-align: top;
				display: inline-block;
				width: 455px;

				&:first-child{ padding-right: 40px; margin-right: 0; };
				&:last-child{ padding-left: 40px; margin-left: 0; };
			}
		}
	}
}	