
@media screen and (min-width: 700px) {
	.sub-page{

		.content{
			h1{
				margin: 0;
			}
		}

		.page-header{
			padding-bottom: 10px;
			.hidesmall{
				display: none;
			}

			
			.title{
				margin: 0;
				padding: 0;
			}

			nav{
				ul{
					li{
						a{
							border: none;
							position: static;
							span{
								border: none;
								background: none;
								text-shadow: none;
								position: static;
								text-align: right;
							}
						}
					}
				}
			}

		}

	}

	.picture{
		width: 30%;
		float: right;
		border: 10px solid #FFFFFF;
		box-shadow: 1px 1px 6px #000;
		margin: 10px 0 10px 10px;;
	}

	.image{
		width: 30%;
		float: right;
		margin: 10px 0 10px 10px;;
	}

	.page-header{


		.title{
			width: 50%;
			float: left;
			
			h1{
				font-size: 3.5rem;
			}
			p{
				font-size: 2rem;
			}
		}

		nav ul li a span{
			font-size: 2.0rem;
			line-height: .4;
		}



	}

	.content{
		h1{
			font-size: 3.2rem;
		}
		h2{
			margin-top: 1rem;;
			font-size: 2.1rem;
		}

		section{
			hr{
				display: none;
			}
			section:nth-child(1){
				padding-right: 3rem;
			}
			section:nth-child(3){
				padding-left: 3rem;
			}
			section{
				float: left;
				width: 50%;
				clear: none;
				article{
					font-size: 1.4rem;
					padding-bottom: 1.5rem;
					h1{
						font-size: 1.7rem;
						margin-bottom:.5rem;
					}
					time{
						margin: 0;
						padding: 0;
					}
					p{
						margin: 0.5rem 0;
					}

				}

				.externalref{
					float:right;
					display: inline-block;
					padding-right: 2rem;
				}
			}
		}
		&:after{
			content: "";
			display: table;
			clear: both;
		}
	}

	.page-footer{
		nav{
			font-size: 1.5rem;
			ul{
				&:after{
					content: "";
					display: table;
					clear: both;
				}
				li{
					display: inline-block;
					float: left;
					padding-right: 2rem;

				}
			}
		}


		.copyright{
			font-size: 1.5rem;
			display: block;
		}
		.disclaimer{
			font-size: 1.5rem;
			display: block;
		}

	}


}	