@import 'all';

$serif: "acaslonpro-regular","adobe-caslon-pro", "Georgia","Times New Roman", serif;
$sans: "myriad-pro-condensed","Gill Sans", "Helvetica Neue",  sans-serif;

$highlightcolor: #FF0000;
$linkcolor: #FF0000;

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body{
	font-family: $serif;
	background-color: #000000;
	padding: 0;
	margin:0;
	font-size: 1.5rem;
}

.heading{
	font-family: $sans;
	font-weight: 500;
}

.content-element{
	padding: 0 20px;
}

.externalref{
	font-size: .9rem;
}

h1, h2, h2 {
	@extend .heading;
}

img{
	max-width: 100%;
}

a{
	color: $linkcolor;
}
a:hover{
	color: #999;
}

nav{
	font-family: $sans;
	ul{
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}
}

form{
	label{
		font-weight: 700;
	}

	.textcontrol {
		width: 400px;
		margin-bottom: 20px;
		font-size: 2em;
	}
	input{
		height: 1.2em;
		width: 100%;
		@extend .textcontrol;
	}
	textarea{
		@extend .textcontrol;
		width: 100%;

	}

	.submit{
		border: 1px solid #CCC;
		font-size: 2.2em;
		@extend .textcontrol;
		color: #FF0000;
		background-color: #FFFFFF;
		border-radius: 8px;
	}
	.submit:hover{
		border: 1px solid #FF0000;
		background-color: #000000;
	}
	input[disabled]{
		color: #CCCCCC;
		background-color: #999999;
		border: 1px solid #000;
	}
	input[disabled]:hover{
		color: #CCCCCC;
		background-color: #999999;
		border: 1px solid #000;
	}
}

blockquote {
  display: block;
  position: relative;
  z-index: 0;
  padding: .5em 2em .1em 2em;
  margin-bottom: 20px;
  font-style: italic;
  color: #F00;
  border-left: 3px solid #F00;
  border-top: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  background-color: #F3F3F3; 
  p {
    margin-top: 10px; }
    position: relative;
  	z-index: 0;
}  

.page-header{
	@extend .heading;
	@extend .content-element;

	color: #FFFFFF;
	background-color: #000000;
	border-bottom: 2px solid #FF0000;

	h1{
		margin: 0;
		line-height: 1;
		font-size: 3rem;
	}
	p{
		margin-bottom: 0;
		font-size: 2rem;
		
	}

	a{
		text-decoration: none;
	}

	nav{
			float: left;
			width: 50%;
			padding-bottom: 20px;
			ul{
				margin: 20px 0;
				li{
					display: block;
					float: left;
					margin: 0 0 0 5%;

					width: 43%;
					a{
						display: block;
						border: 1px solid #FF0000;
						position: relative;
						img{
							margin: 0;
							display: block;
						}
						span{
							border-top: 1px solid #FF0000;
							position: absolute;
							width: 100%;
							bottom: 0;
							display: block;
							padding: 10px 0;
							font-size: 2rem;
							text-align: center;
							text-shadow: #333 2px 2px 2px;
							background-color: rgba(100,100,100, .5);
						}
					}
					a:hover{
						span{
							background-color: rgba(255,255,255, 1);
						}
					}
				}
			}

		}
	
	


	&:after{
		content:"";
		display: table;
		clear: both;
	}




}
.sub-page{
	nav{
				ul{
					li{
						a{
							border: none;
							position: static;
							span{
								border: none;
								background: none;
								text-shadow: none;
								position: static;
								text-align: right;
							}
						}
					}
				}
			}
}

.content{
	@extend .content-element;
	background-color: #FFFFFF;
	margin: 0;



	section h1{
		margin: 0 0 0 0;	
		font-size: 2rem;
	}

	section > h1{
		font-weight: 800;
		font-size: 2.5rem;
		
		a{
			text-decoration: none;
			color: #000000;
		}
	}

	article{
		font-size: 1.5rem;
	}


	hr{
		clear: both;
	    padding: 0;
	    border: none;
	    border-top: medium double #E00;
	    color: #E00;
	    text-align: center;
	    margin-top: 30px;
	    &:after {
		    content: "§";
		    display: inline-block;
		    position: relative; 
		    top: -0.7em;  
		    font-size: 1.5em;
		    padding: 0 0.25em;
		    background: white;
		    color: #E00;
		}
	}

}

.page-footer{
	@extend .content-element;
	color: #FFFFFF;
	padding-bottom: 20px;
	font-size: 1.5rem;
}

#adobelogo{
	position: relative;
	z-index: 1000;
}

@import 'desktop';
@import 'desktop-large';
@import 'tablet';
@import 'phone';
@import 'transitions';
