@media screen and (max-width: 600px) {
.hidesmall{
	display: none;
}

#home{
	header{
		nav{
			padding-top: 0;
			

			img{
				display: none;
			}

			ul{
				padding-top: 0;
				li{

					a{
						span{
							text-align: left;
							position: static;
							border: none;
							background-color: transparent;
							text-shadow: none;
						}
					}
				}
			}

		}
	}
}

header{
	nav{
		display: block;

		ul{
			padding-top: 0;
			li{
				display:inline-block;
				padding-right: 20px;
			}
		}
	}	
}


#content{
	h1{
		line-height: 1;
		padding-bottom: 10px;
	}
	img{
		max-width: 100%;
	}
}
}