@media screen and (max-width: 560px) {
.hidesmall{
	display: none;

}

.page-header{
		.title{
			p{
				line-height: .5;
				margin: 0;
				padding: 15px 0 15px 0;
			}
		}
		
		nav{
			padding-top: 0;
			padding-bottom: 0;
			ul{
				margin: 0;
				li{
					margin: 0;
					a{
						position:static;
						border: none;

						img{
							display: none;
						}
						span{
							background: none;
							text-shadow: none;
							position:static;
							border: none;
							text-align: left;
							padding: 0;
						}
					}
				}
			}
			


		}
}

.sub-page{


		.page-header{
			.title{
				float: none;
			}


			nav {
				float: none;
				padding: 5px 0;
			ul{

				li{
					position:relative;
					width: auto;
					float: left;
					margin: 0 20px 0 0;
					img{
						max-width: 100%;
					}
					span{
						position:static;
						bottom: 7px;
						padding: 5px;
						text-align:left;
						text-shadow: none;
						background-color: #000;
					}
				}
			}
		}
		}
	}	



}