@media screen and (max-width: 699px) {
	.page-header{

		p{
			margin: 0;
		}

		nav{ 
			width: 100%;
			ul{
				li{
					float: left;
					width: 40%;

				}
				li:first-child{
					margin-right: 5%;
				}
				li:last-child{
					margin-left: 5%;
				}
			}
		}

	}

	.sub-page{

		.content{
			h1{
				margin: 0;
			}
			h2:first-of-type{
				margin:5px 0; 
			}
		}

		.page-header{
			.title{
				float: left;
			}


			nav {
				margin: 0;
				padding: 0;
				ul{
					margin: 0;

					li{
						font-size: 1.8rem;
						margin: 0;
						img{
						}
						span{
							text-align: left;
						}
					}
				}
			}
		}
	}
	.content{

		section{
			section{
				article{
					font-size: 1.3rem;
					h1{
						font-size: 1.8rem;
						line-height: 1;
					}

				}

			}
		}
	}		

	.externalref{
		float:right;
		display: inline-block;
	}

	.hidetablet{
		display: none;
	}			

}			