@mixin transition($property,$duration) {
  
  -webkit-transition: $property $duration ease-out;
  -moz-transition: $property $duration ease-out;
  -o-transition: $property $duration ease-out;
  transition: $property $duration ease-out;
}

	h1,h2,h3{
		@include transition(all, .5s);	
	}

	.page-header p{
		@include transition(all, .5s);
	}

	body {
		@include transition(font-size, .5s);
	}

	.page-header img{
		@include transition(all, .5s);
	}


	.page-header nav ul li a span{
		@include transition(all, .5s);
	}



